/*
 * Styles for index.html
 */ 

/* Links */
.links {
  width: 75px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 60px;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
}

.links li {
  transition: all .2s ease-in-out;
}

.links li:hover {
  transform: scale(1.1);
}

.links a {
  padding: 6px 0 6px 0;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.links a:hover {
  color: black;
}

.links ul {
  list-style: none
}

.links li {
  display: block
}

.links-mobile {
  display: none;
  margin-top: 10px;
}

.links-mobile a {
  padding-right: 10px;
  text-decoration: none;
  font-size: 1.5em;
  color: #818181;
  transition: transform .2s ease-in-out;
}

.links-mobile a:hover {
  color: black;
  transform: scale(1.1);
}

/* Hero */
.hero {
  height: 90%;
  padding-top: 25%;
}

.bio {
  width: auto;
  padding: 100px 0;
  margin-right: 15px;
  margin-left: 20%;
}

.name {
  font-family: 'Sanchez', serif;
  font-size: 4em;
}

.tagline {
  font-size: 1.2em;
}

/* Blocks */
.blocks-container {
  padding: 0 150px;
}

.block {
  height: 250px;
  margin-bottom: 10px;
  transition: transform .2s ease-in-out;
}

.block:hover {
  transform: scale(1.03);
}

.block-half {
  padding: 0;
  width: 50%;
}

.block-half .half-left {
  margin-right: 5px;
}

.block-half .half-right {
  margin-left: 5px;
}

.block-half-container {
  display: flex;
}

.block-container {
  position: relative;
  height: 100%;
  padding: 50px 100px;
  overflow: hidden;
}

.block-container > .icon {
  width: 285px;
  height: 285px;
  position: absolute;
  bottom: -130px;
  right: 50px;
}

.block-caption {
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
}

.block-caption > h2 {
  font-size: 2em;
}

.block-tagline {
  font-family: 'Sanchez', serif;
  font-size: 1em;
}

/* Block: Microsoft */
.block-ms {
  background-color: #5558AF;
  color: white;
}

.block-ms h2 {
  text-transform: capitalize;
  font-family: 'SegoeUI', 'Arial', 'Helvetica', sans-serif;
}

/* Block: Yelp */
.block-yelp {
  background-color: #C41200;
  color: white;
}

.block-yelp > .icon {
  right: 5px;
}

/* Block: HackTX */
.block-hacktx {
  background-color: #22215B;
  color: white;
}

.block-hacktx > .icon {
  right: 5px;
}

/* Block: Zephyr */
.block-zephyr {
  background-color: #0D253A;
  color: white;
}

.block-zephyr > .icon {
  bottom: -125px;
}

.block-zephyr h2 {
  text-transform: capitalize;
  font-family: 'Righteous', cursive;
}

/* Block: Tockle */
.block-tockle {
  background-color: #AD0000;
  color: white;
}

.block-tockle h2 {
  text-transform: capitalize;
  font-family: 'Lobster', cursive;
}

/* Breakpoints */
@media only screen and (max-width : 1300px) {
  /* Half blocks now take up entire row */
  .block-half .half-left {
    margin-right: 0;
  }

  .block-half .half-right {
    margin-left: 0;
  }

  .block-half-container {
    display: block;
  }

  .block-half {
    width: 100%;
  }
}

@media only screen and (max-width : 950px) {
  /* Blocks now extend edge to edge; icons are fixed */
  .blocks-container {
    padding: 0;
  }

  .block-caption {
    left: 50px;
  }

  .links {
    position: absolute;
    right: 25px;
  }

  .bio {
    margin-left: 10%;
  }
}

@media only screen and (max-width : 700px) {
  /* Hide side links in favor of mobile links; hide icons */
  .links {
    display: none;
  }

  .links-mobile {
    display: block;
  }

  .icon {
    display: none;
  }
}