/*
 * Styles for project pages
 */

/* Header */
.header {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.header .header-icon {
  width: 100px;
  height: 100px;
}

.header .header-title {
  font-size: 3em;
  margin-left: 10px;
}

.header .header-name {
  position: fixed;
  right: 0;
  margin-right: 40px;
}

.header .header-name a {
  font-family: 'Sanchez', serif;
  text-decoration: none;
  color: white;
}

/* Content */
.content {
  margin: 25px 15%;
  margin-bottom: 100px;
}

.content h1 {
  font-family: 'Sanchez', serif;
  font-size: 4em;
}

.content h2 {
  font-size: 2.5em;
}

.content p {
  font-size: 1.3em;
}

/* Suggestions */
.suggestions {
  margin: 25px 25%;
}

.suggestions h1 {
  font-family: 'Sanchez', serif;
}

.suggestions a {
  font-size: 2em;
  text-decoration: none;
  color: black;
}

/* Project fonts */
.tockle {
  font-family: 'Lobster', cursive;
}

.zephyr {
  font-family: 'Righteous', cursive;
}
