/* Global */
body {
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'SegoeUI' ;
  src: url('../font/SegoeUI.ttf') format('truetype');
}

/* Links */
.links {
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.links a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.links a:hover {
  color: black;
}

.links ul {
  list-style: none
}

.links ul .fa-file-alt {
  margin-left: 3px;
}

.links li {
  display: block
}

/* Hero */
.hero {
  height: 90%;
  padding-top: 25%;
}

.bio {
  width: 500px;
  padding: 100px 0;
  margin-left: 20%;
}

.name {
  font-family: 'Sanchez', serif;
  font-size: 4vmax;
}

.tagline {
  
}

/* Projects */
.projects-container {
  padding: 0 150px;
}

.project {
  height: 250px;
  margin-bottom: 10px;
}

.project-half {
  padding: 0;
  width: 50%;
}

.project-half .half-left {
  margin-right: 5px;
}

.project-half .half-right {
  margin-left: 5px;
}

.project-half-container {
  display: flex;
}

.project-container {
  position: relative;
  height: 100%;
  padding: 50px 100px;
  overflow: hidden;
}

.project-container > .icon {
  width: 285px;
  height: 285px;
  position: absolute;
  bottom: -130px;
  right: 50px;
}

.project-caption {
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
}

.project-tagline {
  font-family: 'Sanchez', serif;
}

/* Project: Microsoft */
.project-ms {
  background-color: #5558AF;
  color: white;
}

.project-ms h2 {
  text-transform: capitalize;
  font-family: 'SegoeUI', 'Arial', 'Helvetica', sans-serif;
}

/* Project: Yelp */
.project-yelp {
  background-color: #C41200;
  color: white;
}

.project-yelp > .icon {
  right: 5px;
}

/* Project: HackTX */
.project-hacktx {
  background-color: #22215B;
  color: white;
}

.project-hacktx > .icon {
  right: 5px;
}

/* Project: Zephyr */
.project-zephyr {
  background-color: #0D253A;
  color: white;
}

.project-zephyr > .icon {
  bottom: -100px;
}

.project-zephyr h2 {
  text-transform: capitalize;
  font-family: 'Righteous', cursive;
}

/* Project: Tockle */
.project-tockle {
  background-color: #AD0000;
  color: white;
}

.project-tockle h2 {
  text-transform: capitalize;
  font-family: 'Lobster', cursive;
}

/* Footer */
.footer {
  font-size: 0.75rem;
  padding: 1rem;
  text-align: center;
}