/*===== RESET ===== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*===== GLOBAL ===== */
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
#bg1 {
	width: 100%;
	height: 100%;
	background-image:url('../img/bg.jpg');
	background-size:cover;
	background-repeat: no-repeat;
}

#bg1:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
	background: -webkit-radial-gradient(top left, ellipse cover, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 30%),
				-webkit-radial-gradient(top right, ellipse cover, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 30%),
				-webkit-radial-gradient(bottom left, ellipse cover, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 30%);
	background: -o-radial-gradient(top left, ellipse cover, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 30%),
				-o-radial-gradient(top right, ellipse cover, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 30%),
				-o-radial-gradient(bottom left, ellipse cover, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 30%);
	background: -moz-radial-gradient(top left, ellipse cover, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 30%),
				-moz-radial-gradient(top right, ellipse cover, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 30%),
				-moz-radial-gradient(bottom left, ellipse cover, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 30%);
	background: -radial-gradient(top left, ellipse cover, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 30%),
				-radial-gradient(top right, ellipse cover, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 30%),
				-radial-gradient(bottom left, ellipse cover, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 30%);
}

div {
	position: fixed;
}

/*===== SPLASH SCREEN ===== */
#name {
	color: white;
	text-align: center;
	font-size: 100px;
	width: 800px;
	height: 100px;
	top: 50%;
}
	#name p {
		font-weight: 200;
		color: white;
		text-align: left;
		font-size: 25px;
		width: 800px;
		height: 100px;
		padding-left: 45px;
	}

#subtext {
	font-weight: 200;
	color: white;
	text-align: left;
	font-size: 25px;
	width: 800px;
	height: 100px;
	top: 63%;
	left: 3%;
}

#menu {
	width: 300px;
	margin-left: -150px;
	left: 50%;
	bottom: 50px;
	background: rgba(171,171,171,0.7);
}
	#menu > a {
		font-size: 20px;
		font-weight: 300;
		display: inline-block;
		display: -moz-inline-box;
		*display: inline;
		zoom: 1;
		width: 100%;
		text-align: center;
		margin: 30px 0;
		color: black;
		text-decoration: none;
	}

/* ===== ABOUT ===== */
#about {
	color:#ffffff;
	width: 250px;
	height: 50px;
	padding-left: 16px;
	padding-top: 16px;
}
	#about img {
		width: 50px;
		height: 50px;
		align: center;
	}
	#about p {
		font-size: 20px;
		font-weight: 300;
		line-height: 30px;
		margin-bottom: 40px;
		margin-left: 30px;
		margin-top: -63px;
		padding: 20px;
		text-align: center;
	}
	
/* ===== PROJECTS ===== */
#projects {
	color:#ffffff;
	width: 150px;
	height: 50px;
	padding-left: 16px;
	padding-top: 16px;
	right: 0px;
}
#project-btn {
	color:#ffffff;
	width: 250px;
	height: 50px;
	padding-right: 16px;
	padding-top: 16px;
	right: 0px;
}

.btn-default {
	color: #ffffff;
	background-color: transparent;
	border-color: transparent;
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
	margin-top: 2px;
}
	
/* ===== FEATURED ===== */
#featured {
	color:#ffffff;
	width: 375px;
	height: 100px;
	left: 44%;
	top: 50%;
	margin-top: -100px;
	margin-left: -100px;
}
	#featured img {
		width: 100px;
		height: 100px;
		align: center;
	}
	#featured p {
		font-family: 'Lobster', cursive;
		font-size: 100px;
		line-height: 30px;
		margin-left: 100px;
		margin-top: -87px;
		padding: 20px;
		text-align: center;
	}
	#featured small {
		font-size: 12px;
		font-weight: 300;
		line-height: 30px;
		margin-left: 140px;
		text-align: center;
	}

/* ===== LINKS ===== */
#links {
	bottom: 2px;
	align: center;
	color: #ffffff;
	height: 50px;
	padding-left: 16px;
}
	#links > a {
		text-decoration: none;
		color: #ffffff;
		font-size: 20sp;
		font-weight: 300;
		line-height: 30px;
	}
