/*
 * Profile
 */
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	color: #FFFFFF;
	background-color: #455A64;
}

.profile {
	width: 50%;
    height: 350px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.name {
	font-size: 2.5em;
	text-align: center;
}

.profile-picture {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

#links ul {
	margin: 0;
	padding: 0;
	padding-bottom: 45px;
	list-style-type: none;
	text-align: center;
}

#links ul li { 
	display: inline; 
}

#links ul li a { 
	text-decoration: none; 
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	padding: 10px;
}

.projects-btn {
	text-decoration: none; 
	color: white;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 18px;
	border: white solid 1px;
	border-radius: 5px;
	display: inline-block;
	-webkit-transition: all .2s cubic-bezier(.55,0,.1,1);
	-moz-transition: all .2s cubic-bezier(.55,0,.1,1);
	-ms-transition: all .2s cubic-bezier(.55,0,.1,1);
	-o-transition: all .2s cubic-bezier(.55,0,.1,1);
	transition: all .2s cubic-bezier(.55,0,.1,1);
}

.projects-btn:hover {
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
}

.animate {
	-webkit-animation: show 1s cubic-bezier(.55,0,.1,1);
    -moz-animation: show 1s cubic-bezier(.55,0,.1,1);
    -ms-animation: show 1s cubic-bezier(.55,0,.1,1);
    -o-animation: show 1s cubic-bezier(.55,0,.1,1);
    animation: show 1s cubic-bezier(.55,0,.1,1);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@-webkit-keyframes show { 
	0% {
   		-webkit-transform:scale(0);
   		-moz-transform:scale(0);
   		-ms-transform:scale(0);
   		-o-transform:scale(0);
   		transform:scale(0);
   		opacity: 0;
	}
  	100% {
  		-webkit-transform:scale(1);
   		-moz-transform:scale(1);
   		-ms-transform:scale(1);
   		-o-transform:scale(1);
   		transform:scale(1);
  		opacity: 1;
  		visibility: visible;
  	}
}

.animate:nth-child(2) { 
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.animate:nth-child(3) {
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-ms-animation-delay: 0.3s;
	-o-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.animate:nth-child(4) { 
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.animate:nth-child(5) { 
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.animate:nth-child(6) { 
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	-ms-animation-delay: 0.6s;
	-o-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

/*
 * Projects
 */
.projects-outer {
	padding: 0px;
}

.projects-inner {
  	width: 100%;
    height: 350px;
    
    margin: auto;
}

.cards {
	width: 80%;
    height: 350px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.buttons {
	text-align: center;
	margin-top: 20px;
}

.back-btn {
	text-decoration: none; 
	color: white;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 18px;
	border: white solid 1px;
	border-radius: 5px;
	display: inline-block;
	-webkit-transition: all .2s cubic-bezier(.55,0,.1,1);
	-moz-transition: all .2s cubic-bezier(.55,0,.1,1);
	-ms-transition: all .2s cubic-bezier(.55,0,.1,1);
	-o-transition: all .2s cubic-bezier(.55,0,.1,1);
	transition: all .2s cubic-bezier(.55,0,.1,1);
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s; 
	-ms-animation-delay: 0.5s; 
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.back-btn:hover {
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
}

/*
 * Cards
 */
.card {
	display: inline-block;
	vertical-align: top;
	width: 350px;
	position: relative;
	overflow: hidden;
	margin: 10px;
	background: #FFF;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	color: #272727;
	border-radius: 2px;
	-webkit-animation: show 1s cubic-bezier(.55,0,.1,1);
    -moz-animation: show 1s cubic-bezier(.55,0,.1,1);
    -ms-animation: show 1s cubic-bezier(.55,0,.1,1);
    -o-animation: show 1s cubic-bezier(.55,0,.1,1);
    animation: show 1s cubic-bezier(.55,0,.1,1);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.card .title {
    line-height: 48px;
    font-size: 24px;
    font-weight: 300;
}

.card .content {
    padding: 20px;
    font-weight: 300;
    border-radius: 0 0 2px 2px;
}

.card p {
    margin: 0;
}

.card .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px;
    font-weight: 400;
}

.card a {
    color: #FF5722;
    margin-right: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.card .image {
    position: relative;
}

.card .image img {
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.card .darken {
	background: #494949;
}

.card .darken img {
	opacity: 0.7;
}

.card .image .title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #FFF;
}

.title-lobster {
	font-family: 'Lobster', cursive;
	font-size: 48px !important;
}

.stacked-cards {
  	width: 350px; 
  	display: inline-block;
}

.no-bullets {
	list-style-type: none;
	padding: 0; 
	margin-top: 10px;
	margin-bottom: 25px;
}

@-webkit-keyframes show-cards { 
	0% {
   		-webkit-transform:scale(0);
   		-moz-transform:scale(0);
   		-ms-transform:scale(0);
   		-o-transform:scale(0);
   		transform:scale(0);
	}
  	100% {
  		-webkit-transform:scale(1);
   		-moz-transform:scale(1);
   		-ms-transform:scale(1);
   		-o-transform:scale(1);
   		transform:scale(1);
  		visibility: visible;
  	}
}

.card-2 { 
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.card-3 { 
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-ms-animation-delay: 0.3s;
	-o-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.card-4 { 
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.card-5 { 
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

@media (max-width: 1860px) {
	.cards {
		width: 750px;
		margin-top: 20px;
	}
}

@media (max-width: 825px) {
	.cards {
		width: 320px;
	}

	.card {
		width: 300px;
	}
}