/*
 * Styles for Tockle project page
 */ 

body {
  background-color: #AD0000;
  color: white;
}

.header .header-title {
  font-family: 'Lobster', cursive;
  margin-left: 20px;
}

hr {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

.suggestions a {
  color: white;
}